
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/Blog.cshtml";
}

<div id="content-block">
    <div class="head-bg style-2">
        <div class="head-bg-img background-block" style="background-image: url(&quot;img/bg-4.jpg&quot;);"><img class="center-image" src="~/Images/blog_1.jpg" alt="" style="display: none;"></div>
        <div class="head-bg-content">
            <h1>Bizi kolayca bulabilirsin.</h1>
            <p>Üretmekten korkma</p>
        </div>
    </div>
    <div class="container be-detail-container">
        <div class="block">
            <h2 class="content-title">İletişim bilgileri</h2>
            <div class="block-subtitle">Sizin için burdayız.</div>
            <div class="contact-info block">
                <div class="contact-header">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="contact-entry">
                                <h4 class="contact-label"><img src="img/marker.png" alt=""> Site</h4>
                                <div class="contact-text">
                                    <p>New York, BRONX, Morris Park Ave 13</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="contact-entry">
                                <h4 class="contact-label"><img src="img/phone-ico.png" alt=""> Phones</h4>
                                <div class="contact-text">
                                    <p><a href="tel:+99123456789001">+99 (123) 456 789 001</a></p>
                                    <p><a href="tel:+1234556789">+1 (23) 45 567 89</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="contact-entry">
                                <h4 class="contact-label"><img src="img/mail-ico.png" alt=""> Email</h4>
                                <div class="contact-text">
                                    <p><a href="mailto:NRGNetwork@contact.com">NRGNetwork@contact.com</a></p>
                                    <p><a href="mailto:Support@gmail.com">Support@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block">
            <h2 class="content-title">Mesaj bırakın</h2>
            <div class="block-subtitle">Maecenas et mollis ligula. Donec finibus feugiat laoreet.</div>
            <div class="contect-form">
                <form class="form-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group fl_icon">
                                <div class="icon"><img src="img/user-g-ico.png" alt=""></div>
                                <input class="form-input" type="text" required="" placeholder="Your name">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 fl_icon">
                            <div class="form-group fl_icon">
                                <div class="icon"><img src="img/subject-ico.png" alt=""></div>
                                <input class="form-input" type="text" required="" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 fl_icon">
                            <div class="form-group fl_icon">
                                <div class="icon"><img src="img/mail-g-ico.png" alt=""></div>
                                <input class="form-input" type="text" required="" placeholder="Your email">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 fl_icon">
                            <div class="form-group fl_icon">
                                <div class="icon"><img src="img/phone-g-ico.png" alt=""></div>
                                <input class="form-input" type="text" required="" placeholder="Your phone">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea class="form-input" required="" placeholder="Your message"></textarea>
                            </div>
                        </div>
                        <button class="btn color-1 size-2 hover-1 pull-right">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

