@model List<sadecefikirler.Models.Category>
@{
    ViewBag.Title = "CategoryMenu";
}


    <div class="be-vidget">
        <h3 class="letf-menu-article">
            Kategoriler
        </h3>
        <div class="creative_filds_block">
           
            <div class="ul">
                @foreach (var item in Model)
                {
                    <a href="../../../../Post/Categories/@item.Id" data-filter=".category-1" class="filter">-@item.Name-</a>
                }
            </div>
        </div>
    </div>


