@model List<sadecefikirler.Models.Tag>
@{
    ViewBag.Title = "TagsMenu";
}

<h3 class="letf-menu-article">
    Popüler Etiketler
</h3>
<div class="tags_block clearfix">
    @foreach (var item in Model)
    {
        <ul>
            <li><a data-filter=".category-6" class="filter">@item.Name</a></li>
        </ul>
    }

            @*<li><a data-filter=".category-1" class="filter">graphic</a></li>
            <li><a data-filter=".category-2" class="filter">art</a></li>
            <li><a data-filter=".category-3" class="filter">website</a></li>
            <li><a data-filter=".category-4" class="filter">logo</a></li>
            <li><a data-filter=".category-5" class="filter">identity</a></li>
            <li><a data-filter=".category-6" class="filter">logo design</a></li>
            <li><a data-filter=".category-1" class="filter">interactive</a></li>
            <li><a data-filter=".category-2" class="filter">blue</a></li>
            <li><a data-filter=".category-3" class="filter">branding</a></li>*@
       
</div>
